<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Hello</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">

	<link rel="stylesheet" href="../style.css">
</head>

<body>

	<div class="container">
		<div class="card">
			<h2 class="title">Change username</h2>

			<div class="card-body">
        Welcome to your personal WePN !
        <br>Your virtual IP is <strong><%= address %></strong> and username is <%= username %>.
        <br>
        <br>You need to indicate a username (can be already used). You can change it whenever you want by accessing this page.
        <br>
        <br>
        <br>
        <form type="submit" action="/login" method="post">
          <input placeholder="Virtual IP" type="text" name="virtualip" value="<%= address %>"/>
  				<input placeholder="Username" type="text" name="username" value="<%= username %>"/>
  				<button class="btn">GO</button>
        </form>
			</div>
		</div>
	</div>


</body>

</html>
